# This is a basic workflow to help you get started with Actions

name: Clone Workflow

# Controls when the workflow will run
on:
 workflow_dispatch:
jobs:
 job_one:
  name: clone
  runs-on: Ubuntu-latest
  steps:
   - name: testing
     uses: appleboy/ssh-action@master
     with:
      host: ${{ secrets.HOST}}
      username: ${{ secrets.USERNAME }}
      password: ${{ secrets.PASSWORD }}
      port: ${{ secrets.PORT }}
      script: |
       ssh-keyscan -H github.com >> ~/.ssh/known_hosts
       git clone ssh://git@github.com:natiwb/natiwb.github.io.git
